MINIMUM SAFETY EQUIPMENT REQUIREMENTS BY BOAT TYPE AND LENGTH
ALL HUMAN-POWERED PLEASURE CRAFTS
Exception: Paddleboats,  watercycle, kayak: (see Note 9)

Personal Lifesaving Appliances

One (1) Canadian-approved lifejacket or PFD of appropriate size for each person on board (see Note 4)
One (1) buoyant heaving line at least 15 m (49’3”) long
*One (1) reboarding device
Vessel Safety Equipment

One (1) bailer or manual bilge pump OR Bilge-pumping arrangements
Visual Signals

If more than 6 meters in length:

One (1) watertight flashlight
Six (6) pyrotechnic distress signals other than smoke signals (See Note 2)
Navigation Equipment

One (1) sound-signalling device or appliance
**Navigation lights (See Note 8)
***One (1) magnetic compass
One (1) radar reflector (See Note 3)
 Fire Fighting Equipment

None
 

 

PLEASURE CRAFT OTHER THAN HUMAN-POWERED PLEASURE CRAFT UP TO 6 M (19’8”)
Exceptions: Sailboards see note 10, personal watercrafts see note 11

Personal Lifesaving Appliances

One (1) Canadian-approved  lifejacket or PFD of appropriate size for each person on board
One (1) buoyant heaving line at least 15 m (49’3”) long
*One (1) reboarding device
Vessel Safety Equipment

One (1) manual propelling device OR One (1) anchor and at least 15 m (49’3”) of cable, rope or chain in any combination
One (1) bailer or one (1) manual bilge pump (Note 1)
Visual Signals

 One (1) watertight flashlight OR Three (3) pyrotechnic distress signals other than smoke signals (See Note 2)

Navigation Equipment

One (1) sound-signalling device or appliance
**Navigation lights
***One (1) magnetic compass
One (1) radar reflector (See Note 3)
 Fire Fighting Equipment

None
 

 

PLEASURE CRAFT OTHER THAN HUMAN-POWERED PLEASURE CRAFTS OVER 6 M AND UP TO 9 M (19’8” – 29’6”)
Personal Lifesaving Appliances

One (1) Canadian-approved lifejacket or PFD of appropriate size for each person on board
One (1) buoyant heaving line at least 15 m (49’3”) longOR
One (1) lifebuoy attached to a buoyant line at least 15 m (49’3”) long
*One (1) reboarding device
Vessel Safety Equipment

One (1) manual propelling device OR One (1) anchor and at least 15 m (49’3”) of cable, rope or chain in any combination
One (1) bailer or manual bilge pump (See Note 1)
Visual Signals

One (1) watertight flashlight
Six (6) pyrotechnic distress signals other than smoke signals(See Note 2)
Navigation Equipment

One (1) sound-signalling device or appliance
**Navigation lights(See Note 8)
***One (1) magnetic compass
 Fire Fighting Equipment

One (1) radar reflector (See Note 3)
One (1) 5BC fire extinguisher if equipped with a motor
One (1) 5BC fire extinguisher if equipped with a fuel-burning cooking, heating or refrigerating appliance
 

 

PLEASURE CRAFT OTHER THAN HUMAN-POWERED PLEASURE CRAFTS OVER 9 M AND UP TO 12 M (29’6” – 39’4”)
Personal Lifesaving Appliances

One (1) Canadian-approved lifejacket or PFD of appropriate size for each person on board
One (1) buoyant heaving line at least 15 m (49’3”) long
One (1) lifebuoy attached to a buoyant line at least 15 m (49’3”) long
*One (1) reboarding device
Vessel Safety Equipment

One (1) anchor and at least 30 m (98’5”) of cable, rope or chain in any combination
One (1) manual bilge pump OR Bilge-pumping arrangements (See Note 1)
Visual Signals

One (1) watertight flashlight
Twelve (12) pyrotechnic distress signals, not more than six (6) of which are of smoke signals (See Note 2)
Navigation Equipment

One (1) sound-signalling device or appliance10. Navigation lights
One (1) magnetic compass
One (1) radar reflector (See Note 3)
 Fire Fighting Equipment

One (1) 10BC fire extinguisher if equipped with a motor
One (1) 10BC fire extinguisher if equipped with a fuel-burning cooking, heating or refrigerating appliance
 

 

PLEASURE CRAFT OTHER THAN HUMAN-POWERED PLEASURE CRAFTS OVER 12 M AND UP TO 24 M (39’4” – 78’9”)
Personal Lifesaving Appliances

One (1) Canadian-approved lifejacket or PFD of appropriate size for each person on board
One (1) buoyant heaving line at least 15 m (49 ’3”) long
One (1) lifebuoy equipped with a self-igniting light or attached to a buoyant line at least 15 m (49’3”) long
*One (1) reboarding device
Vessel Safety Equipment

One (1) anchor and at least 50 m (164’1”) of cable, rope or chain in any combination
Bilge-pumping arrangements
Visual Signals

One (1) watertight flashlight
Twelve (12) pyrotechnic distress signals, not more than six (6) of which are smoke signals (See Note 2)
Navigation Equipment

One (1) or two (2) sound-signalling appliance (i.e. a fitted whistle); if the boat is longer than 20 m (65”7”) it also requires a fitted bell
Navigation lights
One (1) magnetic compass that meets the requirements set out in the Navigation Safety Regulations
One (1) radar reflector (See Note 3)
 Fire Fighting Equipment

One (1) 10BC fire extinguisher at all of the following locations: at each access to any space where a fuel-burning cooking, heating or refrigerating appliance is fitted; at the entrance to any accommodation space; and at the entrance to the machinery space.
One (1) axe
Two (2) buckets of at least 10 L each
 

 

PLEASURE CRAFT OTHER THAN HUMAN-POWERED PLEASURE CRAFTS OVER 24 M (78’9”)
Personal Lifesaving Appliances

One (1) Canadian-approved lifejacket or PFD of appropriate size for each person on board
One (1) buoyant heaving line at least 30 m (98’5”) long
Two (2) SOLAS lifebuoys, of which: one (1) is attached to a buoyant line at least 30 m (98 ’5”) long; and one (1) is equipped with a self-igniting light.
Lifting harness with appropriate rigging
*One (1) reboarding device
Vessel Safety Equipment

One (1) anchor and at least 50 m (164’1”) of cable, rope or chain in any combination
Bilge-pumping arrangements
Visual Signals

One (1) watertight flashlight
Twelve (12) pyrotechnic distress signals, not more than six (6) of which are smoke signals
Navigation Equipment

Two (2) sound-signalling appliances (i.e. fitted whistle and fitted bell) that meet the applicable standards set out in the Collision Regulations
Navigation lights
One (1) magnetic compass that meets the requirements set out in the Navigation Safety Regulations
One (1) radar reflector (See Note 3)
 Fire Fighting Equipment

One (1) 10BC fire extinguisher at all of the following locations: at each access to any space where a fuel-burning cooking, heating or refrigerating appliance is fitted;at the entrance to any accommodation space; and at the entrance to the machinery space.
One (1) power-driven fire pump located outside the machinery space, with one fire hose and nozzle that can direct water into any part of the boat
Two (2) axes
Four (4) buckets of at least 10 L each
 

Source: Transport Canada and www.boatingsafety.gc.ca

*   Only required if the vertical height that must be climbed to reboard the boat from the water (freeboard) is    over 0.5 m (1’8”).

**   Only required if the boat is operated after sunset, before sunrise or in periods of restricted visibility (fog, falling snow, etc.).

*** Not required if the boat is 8 m (26’3”) or less and operated within sight of navigation marks.

Note 1: Exception: if a bailer or manual bilge pump is not required for a boat that cannot hold enough water to   make it capsize or even a boat that has watertight compartments that are sealed and not readily accessible.

Note 2: Exception: pyrotechnic distress signals (flares) are not required for a boat that is operating on a river, canal or lake which can never be more than 1 nautical mile (1.852 km) from shore.  Other exception: if the boat has no sleeping quarters and is engaged in an official competition or in final preparation for an official competition.

Note 3: Radar reflectors are required on boats under 20 m (65’7”) and boats that are built mainly of non-metallic material.  However, it is not required if the boat operates in limited traffic conditions, daylight and favourable environmental conditions, and where having a radar reflector is not essential to the boat’s safety. It is also not required if the size of the boat makes it impractical to install (should be installed at least 4 m high)

Note 4: A PFD or lifejacket carried on board any pleasure craft operated in whitewater must be inherently buoyant.

Note 6: This could be a pea less whistle, a compressed gas horn or an electric horn

Note 8: Human-powered Pleasure Crafts and sailing vessels less than 7 m (23’4”) in length can meet this requirement with a watertight flashlight

Note 9: If every person on board a paddleboat, a watercycle or kayak is wearing a Canadian-approved PFD or lifejacket of appropriate size the only equipment required to carry on board is a sound-signalling device and a watertight flashlight, if it is operated after sunset or before sunrise or in periods or restricted visibility.

Note 10: If a person is operating a sailboard or a kiteboard and is wearing a personal flotation device of appropriate size, the only equipment required on board is a sound signalling device and a watertight flashlight, if the sailboard or kiteboard is operated after sunset or before sunrise or in periods of restricted visibility.

Note 11: Exception: if every person on board a personal watercraft is wearing a Canadian-approved PFD or lifejacket of appropriate size then the only equipment required to carry on board is a sound-signalling device, a watertight flashlight OR 3 pyrotechnic distress signals other than smoke signals, a magnetic compass, if the PWC is navigated out of sight of seamarks, and navigation lights (as per the Collision Regulations) if the PWC is operated after sunset or before sunrise or in periods of restricted visibility
